.content_services {
    margin-top: 5rem;
}

.services_text>h2 {
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: .5px;
}

.services_text>h2>span {
    color: #0d6efd;
}

.services_text>p {
    max-width: 420px;
    margin-bottom: 0;
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: .5px;
}

.card_content {
    margin-top: 2rem;
    position: relative;
    display: flex;
    justify-content:  center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;

    min-height: 580px;
}