.projects {
    min-height: 100vh;
}

.content_projects {
    margin: 0 auto;
}

.projects_text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.projects_text>h2 {
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: .5px;
}

.projects_text>h2>span {
    color: #0d6efd;
}

.projects_text>p {
    max-width: 420px;
    margin-bottom: 2rem;
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: .5px;
}

.carousel_principal {
    height: 520px;
    width: 100%;
    border-radius: 10px;
}

.content_image_principal {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #d4ebff;
}

.image_principal {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.thumbs {
    height: 120px;
    width: 100%;
    border-radius: 10px;
    margin-top: 2rem;
    padding: .35rem .5rem;
    border-color: #d4ebff;
    background-color: #d4ebff;
}

.button_slide {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    
    padding: 0!important;
    border: 0;
    background-color: #d4ebff;
}

.thumbs_image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}