.projects {
    margin-top: 2rem;
    padding: 2rem 1rem;
}

.content_projects {
    margin: 0 auto;
    max-width: 1340px;
}

.projects_text>h2 {
    font-size: 1.525rem;
    font-weight: 700;
    color: #fff;
}

.projects_text>h2>span {
    color: #0d6efd;
}

.projects_text>p {
    max-width: 420px;
    font-size: .9rem;
    color: #fff;
}

.image_principal {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 576px) {
    .image_content {
        max-height: 700px;
    }

    .image_principal {
        height: 620px;
        width: auto;
        padding: 0;
    }
}




/* .content_images_display {
    display: none;
}



@media screen and (min-width: 768px) {

    .content_image_principal {
        height: 520px;
    }

    .content_images_display {
        display: flex;
        flex-direction: row;
        padding: 1rem .5rem;
    }

    .image_slide {
        height: 100%;
        margin: auto;
        width: 24%;
        border-radius: 10px;
    }

}
 */
/* @media screen and (min-width: 992px) {

    .content_images_display {
        height: 520px;
        width: 100%;
        flex-direction: column;
        padding: 0;
    }

    .image_slide {
        height: 24%;
        margin: auto;
        width: 100%;
    }

}
 */