.card {
    width: 286px;
    margin: auto;
    border: 2px solid #0d6efd;
    border-radius: 10px;
    display: flex;
    align-items: center;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.title {
    color: #0d6efd;
    font-size: 1.125rem;
    font-weight: 700;
}

.text {
    font-size: .8rem;
}

.image {
    width: 282px;
    height: 180px;
    border-radius: 10px 10px 0 0;
}