* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 0 2rem;
}

.body_content {
    background: #f1f1f1;
}

button {
    padding: .7rem 1rem !important;
}

.carousel-indicators {
    display: none !important;
}

.bg-degrade {
    background: rgb(11, 94, 215);
    background: linear-gradient(231deg, rgba(11, 94, 215, 1) 6%, rgba(46, 64, 87, 1) 59%);
}
