.header {
    padding: 0 .75rem;
    position: relative;
}

.navigation {
    padding: .5rem 1rem;
    border-radius: 10px;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;

    background-color: #2E4057;
}

.navigation_content {
    justify-content: flex-end;
}

.logo {
    margin-right: auto;
}

.logo_icon {
    width: 55px;
    height: 55px;
}

.logo_nome {
    height: 40px;
    width: 150px;
    border-radius: 5px;
}

.toggleMenu {
    color: #fff;
    border: 1px solid #fff;
}

.toggleMenu:focus {
    outline: 0;
}

.toggleMenu i {
    font-size: 1.5rem;
}

.ul_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.link_item {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.link_item:hover,
.active {
    color: #72ABFE;
}

.btn_header {
    margin-left: 2rem;
}

@media (max-width: 991px) {
    .navigation {
        position: relative;
    }

    .ul_content {
        position: absolute;
        top: 74px;
        left: 0px;
        padding: 2rem 0;

        z-index: 1000;
        background-color: #2E4057;
        width: 100%;
        border-radius: 0 0 10px 10px;
    }

    .btn_header {
        margin-left: 0;
    }
}

@media (max-width: 767px) {

    .navigation {
        width: 90%;
    }

    .ul_content {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    
}

@media (max-width: 380px) {
    .contact>.item_link:nth-child(2) {
        padding: 0;
        border: none;
        margin: -10px 0 -10px 0;
    }

    .contact {
        flex-direction: column;
    }
}