.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: .5rem;
    background-color: #2E4057;
    flex-wrap: wrap;
    max-height: 120px;
    font-size: .8rem;
}

.social_container {
    display: flex;
    gap: .5rem;
}

.item_link {
    text-decoration: none;
    color: #fff;
}

.item_link:hover {
    color: #72ABFE;
}

.contact>.item_link:nth-child(2) {
    padding: 0 1rem;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.container_navigation {
    position: relative;
    width: 100%;
    height: 75px;
}

.navigation {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin: 0 auto;

    padding: .5rem 1rem;
    border-radius: 10px;
    margin-top: 2rem;

    max-width: 1286px;
    width: 90%;

    display: flex;
    justify-content: space-between;

    background-color: #2E4057;
}

.navigation_content {
    justify-content: flex-end;
}

.logo {
    margin-right: auto;
}

.image {
    width: 85px;
    height: 55px;
    border-radius: 5px;
}

.toggleMenu {
    color: #fff;
    border: 1px solid #fff;
}

.toggleMenu:focus {
    outline: 0;
}

.toggleMenu i {
    font-size: 1.5rem;
}

.ul_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.link_item {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.link_item:hover,
.active {
    color: #72ABFE;
}

.btn_header {
    margin-left: 2rem;
}

@media (max-width: 767px) {

    .navigation {
        width: 90%;
    }

    .ul_content {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .btn_header {
        margin-left: 0;
    }
}

@media (max-width: 380px) {
    .contact>.item_link:nth-child(2) {
        padding: 0;
        border: none;
        margin: -10px 0 -10px 0;
    }

    .contact {
        flex-direction: column;
    }
}