.testimonials {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.content_testimonials {
    padding: 0 12px;
}

.testimonials_text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.testimonials_text>h2 {
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: .5px;
    padding: 1rem !important;
}

.testimonials_text>h2>span {
    color: #0d6efd;
}

.testimonials_text>p {
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: .5px;
    padding: 0 1rem;
    max-width: 534px;
}

.testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_content {
    max-width: 620px;

    height: 350px;

    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;

    border: 2px solid #0d6efd;
    border-radius: 10px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;

    padding: 2rem 2rem;

    background-color: #d4ebff;
}


.text_content>p {
    margin: 0;
    text-align: center;
    margin-bottom: 0;
}

.person {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: .5rem;
}

.image {
    border-radius: 50%;
}

.person span {
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    color: #0d6efd;
}

.person p {
    margin: 0;
    font-size: .8rem;
}

@media screen and (min-width: 992px) {

    .content_testimonials {
        display: flex;
        align-items: center;
    }

    .testimonials_text h2 {
        padding: 0 4rem;
    }

}